<a class="btn_expand_to_fit btn_upper_right" href="/logout">Logout</a>
<p class="btn_upper_left">
	<a class="btn_expand_to_fit" href="/">Home</a>
	<a class="btn_expand_to_fit" href="/admin/dates">Dates</a>
<!--	<a class="btn_expand_to_fit" href="/admin/users">Users</a>-->
</p>