<a class="button_yellow button_upper_left" href="/logout">Logout</a>

<p class="top_buttons">
	<a class="button_yellow" href="/">Home</a>
	<a class="button_yellow" href="/admin/dates">Dates</a>
	<a class="button_yellow" href="/admin/users">Users</a>
</p>