<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="format-detection" content="telephone=no" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="76x76" href="../img/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../img/touch-icon-ipad-retina.png">
       <link href="../img/apple-touch-startup-image-1536x2008.png"
             media="(device-width: 768px) and (device-height: 1024px)
                and (orientation: portrait)
                and (-webkit-device-pixel-ratio: 2)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-1496x2048.png"
             media="(device-width: 768px) and (device-height: 1024px)
                and (orientation: landscape)
                and (-webkit-device-pixel-ratio: 2)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-768x1004.png"
             media="(device-width: 768px) and (device-height: 1024px)
                and (orientation: portrait)
                and (-webkit-device-pixel-ratio: 1)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-748x1024.png"
             media="(device-width: 768px) and (device-height: 1024px)
                and (orientation: landscape)
                and (-webkit-device-pixel-ratio: 1)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-640x1096.png"
             media="(device-width: 320px) and (device-height: 568px)
                and (-webkit-device-pixel-ratio: 2)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-640x920.png"
             media="(device-width: 320px) and (device-height: 480px)
                and (-webkit-device-pixel-ratio: 2)"
             rel="apple-touch-startup-image">
       <link href="../img/apple-touch-startup-image-320x460.png"
             media="(device-width: 320px) and (device-height: 480px)
                and (-webkit-device-pixel-ratio: 1)"
             rel="apple-touch-startup-image">
		<meta name="apple-mobile-web-app-capable" content="yes">
		
		<title>Discover Christ Church</title>
		<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" media="screen" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/js/jquery.history.js"></script>
		<script src="/js/scripts.js"></script>
	</head>
	<body>
		<div class="cover"></div>
		<div class="wrapper">
			<div class="container">
				<div class="content">
					<%= yield %>
				</div>
			</div>
			<div class="links_container">
				<a class="admin_link" href="/admin">Admin</a>
				<a class="admin_link" href="/logout">logout</a>
				<a class="admin_link outside_link admin_link_right" target="_blank" href="http://www.phillipgoredesign.com">Created By: Phillip Gore Design</a>
			</div>
		</div>
			<div class="video_container">
				<div class="video_close"></div>
				<iframe id="video" width="853" height="480" src="//www.youtube.com/embed/x7PtZErtehc?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
			</div>
	</body>
</html>