<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>Discover Christ Church</title>
		<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body class="background">
		<div class="background_stage">
			<div class="stage"><%= yield %></div>
		</div>
	</body>
</html>