<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<title>Discover Christ Church</title>
		<link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css" media="screen" />
		<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
		<script src="/js/jquery.js"></script>
		<script src="/js/jquery.history.js"></script>
		<script src="/js/scripts.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="content"><%= yield %></div>
		</div>
		<div class="links_container">
			<a class="admin_link" href="/admin">Admin</a>
			<a class="admin_link outside_link" target="_blank" href="http://www.phillipgoredesign.com">Phillip Gore Design</a>
			<a class="admin_link" href="/logout">logout</a>
		</div>
	</body>
</html>