<a class="btn_expand_to_fit btn_upper_right" href="/">Home</a>

<h1>Discover Christ's Church</h1>
<h2 class="heading">Login to the admin area.</h2> 

<form class="" action="/login" method="post" id="child" enctype="multipart/form-data">
	<div class="jsNotice"></div>
	
	<fieldset>
		<label>Email</label>
		<input type="email" autocomplete='off' name="user_email" id="user_email" autocorrect="off" autocapitalize="off"/><br>
		<label>Password</label>
		<input type="password" autocomplete='off' name="password" id="password" autocorrect="off" autocapitalize="off"/>
	</fieldset>
			
	<fieldset>
		<button class="btn_expand_to_fit btn_right" type="submit">Login</button>
	</fieldset>
</form>