<h1 class="heading">Login to the admin area.</h1>

<div class="container">

	<% if flash[:notice] %>  
	    <div class="notice"><%= flash[:notice] %></div>
	<% end %> 
	
	<form class="" action="/login" method="post" id="child" enctype="multipart/form-data">
	
		<fieldset>
			<label>Email</label>
			<input type="email" autocomplete='off' name="user_email" id="user_email" autocorrect="off" autocapitalize="off"/>
			
			<label>Password</label>
			<input type="password" autocomplete='off' name="password" id="password" autocorrect="off" autocapitalize="off"/>
		</fieldset>
				
		<fieldset>
			<button class="button_yellow button_float_right" type="submit">Login</button>
			<a class="button_yellow button_secondary" href="/">Home</a>
		</fieldset>
		
	</form>
	
</div>

<div class="bottom_margin"></div>