<h1>Discover Christ's Church</h1>
<h2 class="heading">Login to use the app.</h2> 

<form class="" action="/login" method="post" id="child" enctype="multipart/form-data">
	<div class="jsNotice"></div>
	
	<fieldset>
		<label>Username</label>
		<input type="text" autocomplete='off' name="username" id="username" autocorrect="off" autocapitalize="off"/><br>
		<label>Password</label>
		<input type="password" autocomplete='off' name="password" id="password" autocorrect="off" autocapitalize="off"/>
	</fieldset>
			
	<fieldset>
		<button class="btn_expand_to_fit btn_right" type="submit">Login</button>
	</fieldset>
</form>

<div class="demo">
	<h2>Take the app for a test drive.</h2>
	<p>Username: demo<br>
	Password: demo</p>
</div>

