<a class="btn_upper_right btn_expand_to_fit" href="/">Start Over</a>

<h1>Discover Christ's Church</h1>
<h2>Select a date to attend.</h2>

<div class="container_center">
	<div class="date_stack">
		<% @date_list.each_with_index do |date_list| %>
			<a href="/new/registration/<%= date_list.id %>"><%= date_list.date.strftime("%a, %b %d") %> @ <%= date_list.time.strftime("%I:%M %p") %></a><br />
		<% end %>
	</div>
</div>
