<a class="btn_upper_right btn_expand_to_fit" href="/">Start Over</a>

<h1>Discover Christ's Church</h1>
<h2 class="heading">Register for <%= @date.date.strftime("%A, %B %d") %> @ <%= @date.time.strftime("%I:%M %p") %></h2>



<form class="" action="/add/registration/<%= @date.id %>" method="post" id="date" enctype="multipart/form-data">
	<div class="jsNotice"></div> 
	
	<fieldset>
		<label>First*</label>
		<input type="text" name="registrant[first_name]" id="first_name" autocorrect="off"><br>
		<label>Last*</label>
		<input type="text" name="registrant[last_name]" id="last_name" autocorrect="off">
	</fieldset>
	
	<fieldset>
		<label>Phone*</label>
		<input type="tel" name="registrant[phone]" id="phone" autocorrect="off" autocapitalize="off"><br>
		<label>Email*</label>
		<input type="email" name="registrant[email]" id="email" autocorrect="off" autocapitalize="off">
	</fieldset> 
	
	<fieldset>
		<label>Notes</label>
		<textarea name="registrant[note]" id="note" autocorrect="off"></textarea>
	</fieldset>
		
	<fieldset>
		<button class="btn_expand_to_fit btn_right" type="submit" name="submit">Submit</button>
	</fieldset>
</form>