html { 
	padding: 0px; 
	margin: 0px; 
	min-height: 100%; 
	overflow:auto; /* triggers 100% height in Opera 9.5 */
	overflow-y:scroll; /* creates a horizontal scrollbar, for a more consistent look & feel */
	background: #F2E7DB;
}

body {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	background: #F2E7DB;
	color: #312A21;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.content, .cover {
	background: #A1978C;
	border-radius: 15px;
	position: absolute;
	top: 36px;
	right: 36px;
	bottom: 36px;
	left: 36px;
	min-height: 662px;
	overflow-x: scroll;
}

.cover {
	background: url(../img/ajax-loader.gif) center 332px no-repeat #A1978C;
	z-index: 1000;
	display: none;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 54px;
	margin: 0;
	padding: 74px 0 0;
	color: #312A21;
}

h2 {
	text-align: center;
	font-weight: normal;
	font-size: 21px;
	margin: 0;
	padding: 0;
	color: #312A21;
}

.calender {
	margin: 70px auto;
	width: 234px;
	height: 234px;
	background: #E3E1E1;
	border-radius: 30px;
}

.month {
	width: 234px;
	text-align: center;
	font-size: 32px;
	color: #ffffff;
	background: #C10004;
	overflow: hidden;
	border-top-left-radius: 29px;
	border-top-right-radius: 29px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.day {
	width: 237px;
	font-weight: bold;
	font-size: 127px;
	text-align: center;
	color: #000000;
}

.today {
	font-size: 16px;
	text-align: center;
	color: #666;
	margin-top: -16px;
	font-weight: normal;
	font-style: normal;
}

.date_strip {
	margin-right: auto;
	margin-left: auto;
	width: 810px;
}

a, button {
	display: inline-block;
	border-style: none;
	font-size: 14px;
	text-align: center;
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: #312A21;
	color: #F2E7DB;
	margin-bottom: 9px;
	width: 220px;
}

.links_container {
	text-align: center;
	position: absolute;
	bottom: 9px;
	right: 0;
	left: 0;
	margin-right: 36px;
	margin-left: 36px;
}

.admin_link {
	padding: 0 6px;
	margin: 0;
	text-align: center;
	color: #312A21;
	font-size: 12px;
	background-color: transparent;
	width: auto;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.admin_link:hover {
	text-decoration: underline;
}

.admin_link_right {
	position: absolute;
	right: 0;
	z-index: 1;
}

.btn_expand_to_fit {
	width: auto;
	padding-right: 18px;
	padding-left: 18px;
}

.btn_upper_right {
	position: absolute;
	top: 18px;
	right: 18px;
}

.btn_upper_left {
	position: absolute;
	left: 18px;
}

.container_center {
	width: 220px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

.date_stack {
	float: left;
}

.jsNotice, .notice {
	text-align: center;
	color: #660000;
	margin-bottom: 9px;
	margin-top: -18px;
}

.jsNotice {
	display: none;
}

form {
	margin: 70px auto 0px;
	font-size: 16px;
	padding: 0px;
	width: 560px;
	color: #312A21;
}

fieldset {
	padding-right: 0px;
	padding-bottom: 9px;
	padding-left: 0px;
	margin: 0px;
	border-style: none;
}

label {
	padding-top: 9px;
	float: left;
	display: inline-block;
	width: 144px;
	text-align: right;
	color: #312A21;
	padding-right: 6px;
}

input, textarea {
	margin-bottom: 3px;
	width: 238px;
	padding-left: 10px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-top: 6px;
	font-size: 16px;
	border: 1px solid #312A21;
	color: #312A21;
	background: #F2E7DB;
	-webkit-appearance: none;
	border-radius: 0;
}

textarea {
	height: 72px;
	resize: none;
	margin-top: 3px;
}

.btn_right {
	float: right;
	margin-right: 150px;
}

select {
	margin-right: auto;
	margin-bottom: -3px;
	margin-left: auto;
	font-size: 16px;
	width: 260px;
	display: block;
}

.info {
	line-height: 28px;
	font-size: 21px;
	background: #F2E7DB;
	color: #312A21;
	margin-top: 70px;
	margin-right: auto;
	padding: 18px;
	border-radius: 9px;
	width: 343px;
	margin-left: auto;
}

.container_dates {
	width: 536px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 38px;
}

.container_users {
	width: 674px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 38px;
}

.container_registrants {
	width: 692px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 38px;
}

.btn_email {
	width: 300px;
}

.info_registration {
	width: 450px;
	display: inline-block;
}

.info_item{
	margin-right: 9px;
}

.demo {
	width: 288px;
	padding: 18px;
	margin-right: auto;
	margin-left: auto;
	background: #F2E7DB;
	border-radius: 5px;
	margin-top: 27px;
}

.video_container {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	position: absolute;
	padding: 18px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 12px #000000;
	box-shadow: 0 0 12px #000000;
}




